.titulo{

    color: #f52900;
    font-size: 30px;
    font-weight: bold;

}

.paragrafo{
    font-size: 15x;
    font-weight: bold;
}

.btn-orange{

    background-color: #ED8554;
    color: white;
}

label{
    font-weight: bold;
}

.box-vagas{

    width: 400px;
    margin-top: 60px;
    background-color: #EDE6E6;
}

.header-vagas{
    background-color: blue;
    padding: 20px;
    color: white
}

.body-vagas{
    padding: 15px;
}

.paragrafo-orange{
    color: #ED8554;
}